@model LoginRequestModel

<div class="card">
	<div class="card-header">
		<div class="card-title row">
			<h5>Login Please!</h5>
		</div>
	</div>
	<div class="card-body">
		<form method="post" asp-controller="Account" asp-area="" asp-action="Login">
			<div class="col-md-2 col-sm-12">Username</div>
			<div class="col-md-8 col-sm-12"><input class="input-group-text" asp-for="@Model.Username" /></div>
			
			<div class="col-md-2 col-sm-12">Password</div>
			<div class="col-md-8 col-sm-12"><input type="password" class="input-group-text" asp-for="@Model.Password" /></div>
			
			<div class="col-md-2 col-sm-12 my-2"><button type="submit" class="btn btn-primary">Login</button></div>
		</form>
	</div>
</div>