@{
    ViewData["Title"] = "Home Page";
}

@section Styles {

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>This is INMOL</h1>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            console.log("document is ready");
            $("#homePage").addClass("fw-bolder");
        });
    </script>
}