@using Example.MVC.WebApp.ViewComponents
<div class="container text-end">
    <a class="btn btn-primary my-2" asp-area="" asp-controller="Employee" asp-action="Create">Add <strong> + </strong></a>
</div>
<div class="container" id="employeeData">
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#employeesPage").addClass("fw-bolder");

            // $('.deleteEmployee').onClick = function (e) {
            // console.log("delete clicked");
            // e.preventDefault();
            // empData = $(this).attr("emp-id");
            // $.ajax({
            //     url: `/Employee/Delete/${empData}`,
            //     contentType: "application/json",
            //     type: 'Get',
            //     success: function (response) {
            //         if (response.status == "success") {
            //             LoadData();
            //         }
            //     }
            // });
            // };

            LoadData();

            var deleteButtons = Object.values(document.getElementsByClassName("deleteEmployee"));
            console.log(deleteButtons);

            deleteButtons.forEach(v => {
                v.addEventListener('click',(event) => {
                    event.preventDefault();
                    console.log(this);
                });
            });
            

            function LoadData() {
                $.ajax({
                    url: `/Employee/GetEmployees`,
                    contentType: "application/json",
                    type: 'Get',
                    success: function (response) {
                        $('#employeeData').html(response);
                    }
                });
            }
        });

    </script>
}